.container .text{
    position: absolute;
    color: white;
    righ } 

  #hero {
    background-color: white; /* Light blue */
    padding: 4rem 0;
    text-align: center;
  }
  
  #hero h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  #hero p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
  }
  
  #hero button {
    padding: 0.8rem 1.5rem;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #hero button:hover {
    background-color: red;
  }